nav > ul {
    /* display: inline; */
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 15px;
    padding: 5px;
}
nav li:hover{
    background-color: lightgray;
}
nav li > a {
    text-decoration: none;
    color: black;
}
footer{
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  label{
    display: block;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  table{
    text-align: center;
    border-collapse: collapse;
  }
  td, th{
    border: 1px solid black;  
    width: 30%; 
    margin: auto; 
    padding: 5px 10px;
  }